@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: 0.5s;
}
svg {
    width: 30px ;
}
header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 0 20px;
}
header .icon-cart span {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 50%;
    right: -20px;
} 
.listproduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listproduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: none;
}
.listproduct .item {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px #0002;
    transition: transform 0.3s;
}
.listproduct .item h2 {
    font-size: large;
    font-weight: 600;
}
.listproduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}
.listproduct .item button {
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.cartTarb{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 5s;
}
body.showcart .cartTab{
    insert: 0 0 0 auto;
}
body.showcart .cartTab{
    transform: translatedX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: yellow;
    border: none;
    font-family: poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: white;
}
.cartTab .listcart .item img{
    width: 100%;
}
.cartTab .listcart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listcart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listcart .quantity span:nth-child(2){
    background-color: transparent;
    color: white;
}
.listcart .item:nth-child(even){
    background-color: #eee1;
}
.listcart{
    overflow: auto;
}
.listcart::-webkit-scrollbar{
    width: 0;
}
